<!DOCTYPE html>
<html>
<head>
	<title>$!title</title>
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/thirdparty/bootstrap-v3.0.3/bootstrap.min.css?ver=$!ver" />
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/thirdparty/bootstrap-v3.0.3/buttons.css?ver=$!ver" />
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/thirdparty/bootstrap-v3.0.3/bootstrap-select.min.css?ver=$!ver" />
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/thirdparty/bootstrap-v3.0.3/bootstrap-table.css?ver=$!ver"/>
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/font-awesome.min.css?ver=$!ver" />
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/ionicons.min.css?ver=$!ver" />
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/app.css?ver=$!ver" />
	<!--jquery ui-->
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/thirdparty/jqueryui/jquery-ui-1.10.3.custom.min.css?ver=$!ver" />
	<link rel="stylesheet" type="text/css" href="#springUrl('')/static/css/thirdparty/jqueryui/combobox.css?ver=$!ver" />
	<script type="text/javascript" src="#springUrl('')/static/js/thirdparty/jquery/jquery.min.10.2.js?ver=$!ver"></script>
	<meta charset="UTF-8">
	<meta content='width=device-width, initial-scale=1' name='viewport'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue">
    ##主体
    $screen_content
	<script type="text/javascript" src="#springUrl('')/static/js/thirdparty/boostrap-v3.0.3/bootstrap.min.js?ver=$!ver"></script>
	<script type="text/javascript" src="#springUrl('')/static/js/thirdparty/boostrap-v3.0.3/buttons.js?ver=$!ver"></script>
	<script type="text/javascript" src="#springUrl('')/static/js/thirdparty/boostrap-v3.0.3/bootstrap-select.min.js?ver=$!ver"></script>
	<script type="text/javascript" src="#springUrl('')/static/js/thirdparty/boostrap-v3.0.3/bootstrap-table.js?ver=$!ver"></script>
	<script type="text/javascript" src="#springUrl('')/static/js/thirdparty/jquery/jquery-ui-1.10.3.custom.min.js?ver=$!ver"></script>
	<script type="text/javascript" src="#springUrl('')/static/js/app.js?ver=$!ver"></script>
	<script type="text/javascript" src="#springUrl('')/static/js/common/core.js?ver=$!ver"></script>
	<script type="text/javascript" src="#springUrl('')/static/js/common/util.js?ver=$!ver"></script>
</body>
</html>